#wrap {
  width: 100%;
  position: relative;
}
#wrap #header {
  position: relative;
  z-index: 3;
  width: 100%;
  background: rgb(255, 255, 255);
}
#wrap #header .row1 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap #header .row1 .row1-1 {
  width: 200px;
  margin: 0 0 0 auto;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}
#wrap #header .row1 .row1-1.on {
  display: none;
}
#wrap #header .row1 .row1-1.login {
  display: none;
  position: relative;
}
#wrap #header .row1 .row1-1.login .login-member {
  display: inline-flex;
  padding: 2px 10px;
  font-size: 10px;
  color: rgb(95, 0, 128);
  border: 1px solid rgb(95, 0, 128);
  border-radius: 7px;
  margin: 0 5px 0 0;
}
#wrap #header .row1 .row1-1.login.on {
  display: flex;
}
#wrap #header .row1 .row1-1 > a {
  color: #333;
}
#wrap #header .row1 .row1-1 > a img {
  width: 8px;
  margin: 0 0 0 5px;
}
#wrap #header .row1 .row1-1 > a.on {
  color: rgb(95, 0, 128);
}
#wrap #header .row1 .row1-1 i {
  color: #ccc;
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#wrap #header .row1 .row1-1 .login-sub {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 120px;
  border: 1px solid #ccc;
  background: #fff;
}
#wrap #header .row1 .row1-1 .login-sub ul {
  width: 100%;
  padding: 10px;
}
#wrap #header .row1 .row1-1 .login-sub ul li {
  width: 100%;
}
#wrap #header .row1 .row1-1 .login-sub ul li a {
  width: 100%;
  display: flex;
  height: 24px;
  align-items: center;
  font-size: 12px;
  color: #333;
  transition: all 0.3s;
}
#wrap #header .row1 .row1-1 .login-sub ul li a:hover {
  color: rgb(95, 0, 128);
}
#wrap #header .row1 .row1-2 {
  width: 1050px;
  margin: 0 auto;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
#wrap #header .row1 .row1-2 .left {
  width: 325px;
  height: 100%;
  display: flex;
  align-items: center;
}
#wrap #header .row1 .row1-2 .left a {
  font-size: 18px;
}
#wrap #header .row1 .row1-2 .left a.logo1 {
  color: rgb(95, 0, 128);
  font-weight: 500;
}
#wrap #header .row1 .row1-2 .left a.logo2 {
  color: rgb(181, 181, 181);
  font-weight: 400;
}
#wrap #header .row1 .row1-2 .left a.logo2 img {
  vertical-align: top;
}
#wrap #header .row1 .row1-2 .left a img {
  width: auto;
}
#wrap #header .row1 .row1-2 .left a span {
  margin: 0 0 0 15px;
  vertical-align: middle;
}
#wrap #header .row1 .row1-2 .left i {
  color: #ccc;
  margin: 0 10px;
}
#wrap #header .row1 .row1-2 .center {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#wrap #header .row1 .row1-2 .center input {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 5px;
  font-size: 15px;
  padding: 0 15px;
}
#wrap #header .row1 .row1-2 .center input:focus {
  outline: 0;
}
#wrap #header .row1 .row1-2 .center a {
  z-index: 2;
  position: absolute;
  top: 9px;
  right: 1px;
  display: flex;
  width: 46px;
  height: 46px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
}
#wrap #header .row1 .row1-2 .center a img {
  width: 35px;
}
#wrap #header .row1 .row1-2 .right {
  width: 325px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap #header .row1 .row1-2 .right a {
  margin: 0 0 0 20px;
}
#wrap #header .row1 .row1-2 .right a img {
  width: auto;
}
#wrap #header .row2 {
  width: 100%;
  height: 56px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#wrap #header .row2.on {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#wrap #header .row2 .row2-container {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap #header .row2 .row2-container .left {
  width: 225px;
}
#wrap #header .row2 .row2-container .left a {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
}
#wrap #header .row2 .row2-container .left a:hover {
  color: rgb(95, 0, 128);
}
#wrap #header .row2 .row2-container .left a img {
  width: auto;
  margin: 0 5px 0 0;
}
#wrap #header .row2 .row2-container .center {
  width: 600px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap #header .row2 .row2-container .center a {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
  color: rgb(51, 51, 51);
}
#wrap #header .row2 .row2-container .center a:hover {
  color: rgb(95, 0, 128);
  text-decoration: underline;
}
#wrap #header .row2 .row2-container .right {
  width: 225px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#wrap #header .row2 .row2-container .right a {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 16px;
  width: 122px;
  height: 32px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
#wrap #header .row2 .row2-container .right a em {
  color: rgb(95, 0, 128);
}
#wrap #header .row2 .row2-container .right a span {
  color: rgb(102, 102, 102);
}