@import url("./fonts.css");
@import url("./reset.css");
#wrap {
  position: relative;
}
#wrap .post-code-form {
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 40px 30px;
}
#wrap .post-code-form .title {
  text-align: center;
  padding: 0 0 20px 0;
}
#wrap .post-code-form .title h1 {
  font-size: 24px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  padding: 0 0 10px 0;
}
#wrap .post-code-form .title h1 em {
  color: rgb(95, 0, 128);
}
#wrap .post-code-form .title h2 {
  font-size: 16px;
  color: rgb(102, 102, 102);
  font-weight: 400;
}
#wrap .post-code-form #postCodeForm div {
  width: 100%;
  margin: 10px 0;
  position: relative;
}
#wrap .post-code-form #postCodeForm div input {
  width: 100%;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline-offset: -1px;
  outline: 0;
  padding: 0 15px;
}
#wrap .post-code-form #postCodeForm div input:focus {
  outline: 1px solid rgb(51, 51, 51);
}
#wrap .post-code-form #postCodeForm div input::-moz-placeholder {
  color: #ccc;
}
#wrap .post-code-form #postCodeForm div input:-ms-input-placeholder {
  color: #ccc;
}
#wrap .post-code-form #postCodeForm div input::placeholder {
  color: #ccc;
}
#wrap .post-code-form #postCodeForm div button {
  cursor: pointer;
  width: 100%;
  height: 44px;
  border: 0;
  border-radius: 3px;
  background: rgb(95, 0, 128);
  color: #fff;
  border: 1px solid rgb(95, 0, 128);
}
#wrap .post-code-form #postCodeForm div p {
  color: rgb(153, 153, 153);
  font-size: 12px;
  line-height: 130%;
  padding: 0 0 10px 0;
}
#wrap .post-code-form #postCodeForm div:nth-child(1) {
  padding: 0 130px 0 0;
}
#wrap .post-code-form #postCodeForm div:nth-child(1) button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  background: rgb(255, 255, 255);
  color: rgb(95, 0, 128);
  font-weight: 500;
}
#wrap .post-code-form #postCodeForm div:nth-child(1) button img {
  width: 24px;
  height: 24px;
}
#wrap .post-code-form .info {
  width: 100%;
}
#wrap .post-code-form .info h3 {
  font-size: 14px;
  color: rgb(240, 63, 64);
  padding: 10px 0 5px 0;
}
#wrap .post-code-form .info h4 {
  display: flex;
  justify-content: space-between;
}
#wrap .post-code-form .info h4 strong {
  font-size: 14px;
  color: rgb(102, 102, 102);
}
#wrap .post-code-form .info h4 span a {
  color: rgb(102, 102, 102);
}
#wrap .post-code-form .info h4 span a em {
  font-size: 12px;
}
#wrap .post-code-form .info h4 span a img {
  width: auto;
  margin-top: -2px;
  margin-left: 5px;
}
#wrap .post-code-form .info .customer-list {
  display: none;
}
#wrap .post-code-form .info .customer-list.on {
  display: block;
}
#wrap .post-code-form .info .customer-list ul {
  padding: 30px 0 0 0;
}
#wrap .post-code-form .info .customer-list ul li {
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 120%;
}
#wrap #popupRoot {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}